.weekContainer {
  display: flex;
  flex-flow: row;
  width: 100%;
}

.weekContainer .weekSummaryBox {
  display: flex;
  flex-direction: column;
  width: 150px;
}


.weekContainer > h2 {
  margin:10px;
}